.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

h2 {
  margin-top: 40px;
}

.highlight {
  background-color: yellow;
}

.highlight-red {
  background-color: red;
}

.highlight-orange {
  background-color: orange;
}
